* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #0f2a44;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #f4e9d8, #fdeee7);
  padding: 40px 8%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.logo {
  color: #d12b2b;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 52px;
  line-height: 1.2;
}

.hero-text p {
  margin: 20px 0;
  font-size: 18px;
}

.hero-text span {
  display: block;
  margin-top: 10px;
  color: #555;
}

.hero-img img {
  width: 450px;
}

/* BUTTON */
.btn {
  background: #1aa37a;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background: #158d69;
  transform: translateY(-3px);
}

/* SECTIONS */
.section {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 90px 10%;
}

.section.reverse {
  flex-direction: row-reverse;
}

.section-img {
  width: 420px;
}

.text h2 {
  font-size: 36px;
}

.text p {
  margin: 15px 0 25px;
}

/* FEATURES */
.features {
  padding: 90px 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  padding: 35px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* MAP */
.map {
  background: #f9f0ec;
  padding: 90px 10%;
  text-align: center;
}

.map-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.map-img {
  width: 500px;
}

.stats h3 {
  font-size: 32px;
}

/* FOOTER */
footer {
  background: #0f2a44;
  color: white;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content,
  .section,
  .section.reverse,
  .map-content {
    flex-direction: column;
    text-align: center;
  }

  img {
    width: 100%;
    max-width: 350px;
  }

  .features {
    grid-template-columns: 1fr;
  }
}
